/* Untuk external CSS */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
  font-size: 20px;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  color: brown;
  text-align: left;
  font-size: 40px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  text-align: right;
  font-size: 50px;
}